# Python virtual environment
venv/
.venv/
__pycache__/

# Flutter/Dart build files and dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
generated_plugin_registrant.cc
generated_plugin_registrant.h
generated_plugins.cmake
GeneratedPluginRegistrant.swift # specific to macOS, but harmless to include

# macOS specific (if applicable)
.DS_Store

# Windows specific (if applicable)
Thumbs.db

# IDE specific files
.idea/  # IntelliJ/Android Studio
.vscode/ # VS Code
*.iml   # IntelliJ IDEA module files

# Log files
*.log

# Temporary files
*.tmp
*.swp